<div class="container">
    <form action="#">
        <p class="mat-title">Default autocomplete feature</p>
        <mat-form-field>
            <mat-label>Autocomplete</mat-label>
            <input type="text" matInput [matAutocomplete]="fruitsAutocomplete" />
    
            <mat-autocomplete #fruitsAutocomplete="matAutocomplete">
                <ng-template ngFor let-fruit [ngForOf]="fruits">
                    <mat-option [value]="fruit">{{ fruit }}</mat-option>
                </ng-template>
            </mat-autocomplete>
        </mat-form-field>
    </form>

    <form action="">
        <h3 class="mat-title">Autocomplete with autoActiveFirstOption</h3>
        <p matLine class="mat-body">This can also be set globally by using the MAT_AUTOCOMPLETE_DEFAULT_OPTIONS injection token</p>
        <mat-form-field apperance="fill">
            <mat-label>Numbers autocomplete example</mat-label>
            <input type="text" matInput [formControl]="numberControl" [matAutocomplete]="numbersAutocomplete" />

            <mat-autocomplete #numbersAutocomplete="matAutocomplete" autoActiveFirstOption>
                <ng-template ngFor let-option [ngForOf]="filteredOptions | async">
                    <mat-option [value]="option">{{ option }}</mat-option>
                </ng-template>
            </mat-autocomplete>
        </mat-form-field>
    </form>
    
    
    <form>
        <p class="mat-headline">Field using autocomplete of of Customer Objects</p>
        <mat-form-field floatLabel="always" color="accent" appearance="outline">
            <mat-label>Customer</mat-label>
    
            <input type="text" matInput [formControl]="customerFormControl" [matAutocomplete]="customersAuto" placeholder="Customer Name" />
    
            <mat-autocomplete #customersAuto="matAutocomplete" [displayWith]="customerDisplayFn" role="combobox">
                <mat-option *ngFor="let customer of filteredCustomers | async" [value]="customer">
                    {{ customer.customerName }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>



<style>
    .container {
        width: 600px;
        display: block;
        margin: 4rem auto;
    }
</style>