<div class="mat-display-1">mat display 1</div>
<div class="mat-display-2">mat display 2</div>
<div class="mat-display-3">mat display 3</div>
<div class="mat-display-4">mat display 4</div>


<div class="mat-headline">mat headline</div>
<div class="mat-title">mat title</div>
<div class="mat-subheading-1">mat subheading 1</div>
<div class="mat-subheading-2">mat subheading 2</div>



<div class="mat-body-1">mat body 1</div>
<div class="mat-body-2">mat body 2</div>
<div class="mat-caption">mat caption</div>

<div class="mat-typography">
    <h1>header 1 same to headline</h1>
    <h2>header 2 same to title</h2>
    <h3>header 3 same to subheading 2</h3>
    <h4>header 4 same to subheading 1</h4>
</div>
<!-- same to h1 above since body has a class of mat-typography as well -->
<h1>header 1 same to headline</h1>