<div class="container">
    <mat-accordion multi="false" [hideToggle]="true">
        <mat-expansion-panel (closed)="log('panel1 closed')" (opened)="log('panel 1 is opened')">
            <mat-expansion-panel-header>
                <mat-panel-title>Angular Material</mat-panel-title>
                <mat-panel-description>Course Duration 3:00 hrs</mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <p class="mat-subheadline-1">
                    Expansion panel content
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Laboriosam, quas quisquam harum ex natus eaque voluptatibus 
                    ea eius sed iusto, explicabo cupiditate veritatis sunt 
                    assumenda consequatur nisi maxime aperiam porro!
                </p>
            </div>
            <mat-action-row>
                <button mat-stroked-button color="primary">Later</button>
                <button mat-stroked-button color="accent">Enroll Now</button>
            </mat-action-row>
        </mat-expansion-panel>
    
        <mat-expansion-panel #panel2="matExpansionPanel">
            <mat-expansion-panel-header>
                <mat-panel-title>Angular Hero Tutorial</mat-panel-title>
                <mat-panel-description>Course Duration 2:30 hrs</mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <p class="mat-body-2">
                    Expansion panel content
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Laboriosam, quas quisquam harum ex natus eaque voluptatibus 
                    ea eius sed iusto, explicabo cupiditate veritatis sunt 
                    assumenda consequatur nisi maxime aperiam porro!
                </p>
            </div>
            <mat-action-row>
                <button mat-stroked-button color="primary">Later</button>
                <button mat-raised-button color="accent">Enroll Now</button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>

    <button mat-stroked-button color="warn" (click)="panel2.toggle()">Toggle panel2</button>


    <mat-accordion>
        <ng-template matExpansionPanelContent ngFor let-item [ngForOf]="items">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Panel Title {{ item }}</mat-panel-title>
                    <mat-panel-description>Panel Description {{ item }}</mat-panel-description>
                </mat-expansion-panel-header>
                <mat-list dense>
                    <mat-list-item>
                        <mat-icon mat-list-icon>home</mat-icon>
                        <p matLine class="mat-headline">List item {{ item }}</p>
                        <p matLine class="mat-body-2">List item {{ item }}</p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-icon mat-list-icon>home</mat-icon>
                        <p matLine class="mat-headline">List item {{ item }}</p>
                        <p matLine class="mat-body-2">List item {{ item }}</p>
                    </mat-list-item>
                </mat-list>
            </mat-expansion-panel>

        </ng-template>
    </mat-accordion>
</div>



<style>
    .container {
        width:500px;
        display: block;
        margin: 3rem auto;
    }

    mat-accordion {
        margin-bottom: 3rem;
    }
</style>