<div class="container">
    <mat-form-field apperance="outline" floatLabel="always" [hideRequiredMarker]="false">
        <mat-label>First Name</mat-label>
        <input type="text" matInput required />
        <mat-hint align="end">Max 50 characters</mat-hint>
    </mat-form-field>
    <p class="mat-body-2">Apperance outline, color primary(default), floatLabel - always</p>
    
    
    <mat-form-field apperance="fill" floatLabel="auto" color="accent" [hideRequiredMarker]="false">
        <mat-label>First Name</mat-label>
        <input type="text" matInput required placeholder="Enter your first name" />
        <mat-hint align="end">Max 50 characters</mat-hint>
    </mat-form-field>
    <p class="mat-body-2">Apperance fill, color accent, floatLabel - auto</p>
    
    <mat-form-field apperance="legacy" floatLabel="always" [hideRequiredMarker]="false">
        <mat-label>First Name</mat-label>
        <input type="text" matInput required placeholder="Enter your first name" />
        <mat-hint align="end">Max 50 characters</mat-hint>
    </mat-form-field>
    <p class="mat-body-2">Apperance legacy, color primary, floatLabel - always</p>
    
    <mat-form-field apperance="standard" floatLabel="auto" color="accent" [hideRequiredMarker]="false">
        <mat-label>First Name</mat-label>
        <input type="text" matInput required />
        <mat-hint align="end">Max 50 characters</mat-hint>
    </mat-form-field>
    <p class="mat-body-1">Apperance standard, color accent, floatLabel - auto</p>
    
    <mat-form-field apperance="fill" floatLabel="never" color="warn" [hideRequiredMarker]="true">
        <mat-label>First Name</mat-label>
        <input type="text" matInput required />
        <mat-hint align="start">Max 50 characters</mat-hint>
    </mat-form-field>
    <p class="mat-body-1">Apperance fill, color warn, floatLabel - never</p>


    <mat-card class="mat-elevation-z4">
        <mat-card-header>
            <h2 mat-card-title>More about MatInput</h2>
        </mat-card-header>
        <mat-card-content>
            <section class="section">
                <h4 class="mat-title">Input field with an ErrorStateMatcher</h4>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="emailControl" [errorStateMatcher]="customErrorStateMatcher">
                    <mat-hint>Intend to make an error to see an error Message</mat-hint>
    
                    <mat-error *ngIf="emailControl.hasError('required')">
                        Email is <strong>Required</strong>
                    </mat-error>
                    <mat-error *ngIf="emailControl.hasError('invalid') && !(emailControl.hasError('required'))">
                        Email is <strong>Invalid</strong>
                    </mat-error>
                </mat-form-field>
            </section>


            <section class="section">
                <h2 class="mat-title">Textarea input</h2>
                <mat-form-field appearance="outline">
                    <mat-label>Textarea Input</mat-label>
                    <textarea matInput rows="8" placeholder="Type some words..."></textarea>
                </mat-form-field>
            </section>


            <section class="section">
                <h2 class="mat-body-strong">Field with clearable input</h2>
                <mat-form-field apperance="standard" floatLabel="always">
                    <mat-label>Type some to see clear icon</mat-label>
                    <input type="text" matInput #clearableInput="matInput" />
                    <button aria-label="Clear Input" matSuffix mat-icon-button *ngIf="clearableInput.value" (click)="clearableInput.value = ''">
                        <mat-icon [fontIcon]="'clear'"></mat-icon>
                    </button>
                </mat-form-field>
            </section>


            <section class="section">
                <mat-form-field>
                    <mat-label>Field with prefix and suffix</mat-label>
                    <span matPrefix>
                        <mat-icon [fontIcon]="'email'" color="primary"></mat-icon>
                    </span>
                    <input type="text" matInput>
                    <button mat-icon-button matSuffix>
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-form-field>
            </section>


        </mat-card-content>
    </mat-card>
</div>
