<section class="container">
    <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="filterTable($event)" placeholder="search..." />
    </mat-form-field>

    <div class="table mat-elevation-z2">
        <mat-table [dataSource]="customersDataSource" matSort (matSortChange)="annouceMatSortChange($event)" customers-table>

            <!-- customerName column -->
            <ng-container matColumnDef="customerName">
                <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Customer Name">Customer Name</mat-header-cell>
                <mat-cell *matCellDef="let customer">{{ customer.customerName }}</mat-cell>
            </ng-container>
        
            <!-- city column -->
            <ng-container matColumnDef="city">
                <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by City">City</mat-header-cell>
                <mat-cell *matCellDef="let customer">{{ customer.city }}</mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="fields"></mat-header-row>
            <mat-row 
                *matRowDef="let row; columns: fields"
                (click)="clickedRows.add(row)"
                [class.data-row-clicked]="clickedRows.has(row)">
            </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[2, 3, 10]" [showFirstLastButtons]="true"></mat-paginator>
    </div>

    <div>
        <h2 class="mat-title">Clicked Customers</h2>
        <mat-list>
            <ng-template ngFor let-customer [ngForOf]="clickedRows">
                <mat-list-item>{{ customer.customerName }}</mat-list-item>
            </ng-template>
        </mat-list>
    </div>
</section>
