<mat-checkbox>Subscribe</mat-checkbox>
<mat-checkbox labelPosition="before" color="primary">Subscribe</mat-checkbox>
<mat-checkbox color="warn">Subscribe</mat-checkbox>

<mat-divider></mat-divider>


<mat-radio-group>
    <mat-radio-button value="programming" color="primary">Programming</mat-radio-button>
    <mat-radio-button value="data-science" checked>Data Science</mat-radio-button>
    <mat-radio-button value="cybersecurity" color="warn">CyberSecurity</mat-radio-button>
</mat-radio-group>


<style>
    mat-checkbox {
        display: block;
    }
</style>