<div>
    <button mat-button>Click Me</button>
    <button mat-raised-button>Click Me</button>
    <button mat-flat-button>Click Me</button>
    <button mat-stroked-button>Click Me</button>
</div>


<div>
    <button mat-fab>Fab</button>
    <button mat-mini-fab>Mini Fab</button>
    <button mat-icon-button>Icon</button>
</div>

<div>
    <button mat-fab color="primary">Fab</button>
    <button mat-mini-fab color="warn">Mini Fab</button>
    <button mat-icon-button color="primary">Icon</button>
</div>

<div>
    <button mat-raised-button color="accent">Accent raised</button>
    <button mat-raised-button color="primary"> raised primary</button>
    <button mat-raised-button color="warn"> raised warn</button>
    <button mat-stroked-button color="warn">stroked warn</button>
    <button mat-stroked-button color="primary">primary</button>
    <button mat-stroked-button color="accent">accent</button>
    <button mat-flat-button color="primary">Flat primary</button>
    <button mat-button color="primary">button primary</button>
</div>

<div>
    <button mat-flat-button disabled>diabled</button>
    <button mat-flat-button disableRipple color="warn">disable ripple</button>
</div>


<style>
    button {
        margin-right: 1.5rem;
    }

    div {
        margin: 2rem;
    }
</style>