<mat-grid-list [cols]="2" rowHeight="2:1" [gutterSize]="gutterSize">
  <mat-grid-tile class="custom-tile" *ngFor="let tile of tiles">
    <mat-grid-tile-header>{{ tile.header }}</mat-grid-tile-header>
    <mat-grid-tile-footer>{{ tile.footer }}</mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>


<mat-grid-list [cols]="2" rowHeight="100px">
  <mat-grid-tile
    *ngFor="let tile of gridTiles"
    [colspan]="tile.cols"
    [rowspan]="tile.rows"
    [style.backgroundColor]="tile.color"
  >
    <mat-grid-tile-header>
      <p class="mat-body-strong">{{ tile.text }}</p>
    </mat-grid-tile-header>
    <mat-grid-tile-footer>
      <p class="mat-body-strong">{{ tile.text }}</p>
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>

<style>
  .custom-tile {
    background-color: lightseagreen;
  }
</style>
